# Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyc
*$py.class

# Virtual environments
.env
.venv/
env/
ENV/
env.bak/
venv.bak/

# Build directories
build/
dist/
*.egg-info/
develop-eggs/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

# Pytest and test coverage
.pytest_cache/
.tox/
.coverage
.hypothesis/

# IDE and editor configurations
.idea/
.vscode/
**/.DS_Store
*.swp
*.*~

# PyCharm and JetBrains
.pybuilder/
target/
.svn/
.spyderproject
.spyproject
.ropeproject

# Logs and temp files
*.log
logs*
pip-log.txt
pip-delete-this-directory.txt

# Django and Flask
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Specific to your project
user-*.py
/data*
/category*
families/
*apicache*
pywikibot.egg-info/
/cache
.cache
